# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
*.pytest_cache/
*.cache/
*.pyo
*.pyd
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
eggs/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# virtualenv
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Excel / generated outputs
*.xlsx
*.xls
*.xlsm
*.zip

# system
*.log

# secrets
.env
